# Configure storage classes.
classes:
- name: local-loki
  hostDir: "/data/locals/loki"
  storageClass: true
- name: local-grafana
  hostDir: "/data/locals/grafana"
  storageClass: true
- name: local-prometheus
  hostDir: "/data/locals/prometheus"
  storageClass: true
- name: local-jenkins
  hostDir: "/data/locals/jenkins"
  storageClass: true