
global:
  dockerRegistry: "10.100.11.110:8080"
  dockerAuthUsername: admin
  dockerAuthPassword: Harbor12345

namespaces:
  - kube-system
  - default
  - component
  - ingress
  - logging
  - monitoring
  - devops
  - mes
  - oes
  - plm